@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {}

.main-background {
  background: left linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('/assets/main-bg.webp');
  background-size: cover;
}

::view-transition-new(.recipe-image),
::view-transition-old(.recipe-image) {
  aspect-ratio: 3 / 1;
  width: 300px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 0;
}